@import "tailwindcss";

/* Animation pour les cercles */
@keyframes moveHorizontal {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(100vw);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #0000ff, 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 40px #0000ff, 0 0 80px #0000ff;
  }
  100% {
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000, 0 0 80px #000000;
  }
}
